<div class="first-part">
     <div class="banner">
          <div class="title mt-8 ms-5">
               <h2><strong> Friendlendar </strong> </h2>
               <h6 class="ms-5"> Connect your calendar with your friend and share your event</h6>
          </div>
          <div class="banner-button-container">
               <%= link_to "Browse Events", events_path(@event), class: "banner-button" %>
          </div>
          </div>
     </div>
</div>


<div class="arrow bounce">
     <i class="fa-solid fa-chevron-down fa-2x"></i>
     <a class="scroll-link" href="#scroll_anchor_cards">Find out more</small></a>
</div>

<div class="text-center" id="scroll_anchor_cards">

          <div class="friend">
               <h2> What's friendlendar </h2>
               <p>
               Wanna meet your friends but you never know their availability? Join Friendledar. Find the most convenient time to meet up</p>
               <div class="intro">
               <h2><strong> How it works </strong></h2>

               <div class="icons">
                    <div class="card">
                         <%=link_to image_tag("1251428.png", size: "150x150"),  new_event_path(@event) %>
                         <h3> Create an event </h3>
                         <h5>Easy to plan your  event with friendlendar. </h5>
                    </div>
                    <div class="card">
                         <%=image_tag("1255623.png", size: "150x150")%>
                         <h3> Add in your calendar </h3>
                         <h5> Easy to plan your  event with calendar. </h5>
                    </div>
                    <div class="card">
                         <%=image_tag("1051245.png", size: "150x150")%>
                         <h3> Share it with your friends  </h3>
                         <h5> Easy to plan your  event with calendar.</h5>
                    </div>
               </div>
          </div>
     </div>
</div >


