.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.calendar-event {
  color: white;
  border-radius: 4px;
  background:#f3cae7;
  transition: background 0.3s ease;
  font-size: 10px;
}

.calendar-event:hover {
  background: #fa77d3;
  color: white;
}

.calendar-event-friend {
  color: white;
  padding: 2px  2px;
  border-radius: 4px;
  background:#C3C6E5;
  transition: background 0.3s ease;
  font-size: 10px;
}

.calendar-event-friend:hover {
  background: #7881e1;
  color: white;
}

.simple-calendar .next-month {
  background: #DDDD !important;
}

.simple-calendar .current-month {
  background-color: white !important;
}
