.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon.h1 {
  color: #FE3F84;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.search-box {
  float: right;
}


.search-btn {
  background-color: #FE3F84;
  border-radius: 0px 10px 10px 0px;
  border: none;
  color: white;
}

.search-btn:hover {
  background-color: #fc1e70;
}

.search-box input[type=text] {
  height: 40px;
  font-size: 17px;
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}
